<h1>Timeline</h1>
<div id="notice"><%= notice %></div>
<%= form_for(@message) do |f| %>
  <div class="field">
    <%# f.label :content %>
    <%= f.text_area :content, :class => "span12", :rows => 3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<ul>
  <% @messages.each do |message| %>
    <li>
      <%= message.talker %>
      <% if user_signed_in? %>
        <% if current_user.username == message.talker %>
          <%= link_to 'Edit', edit_message_path(message) %>
          <%= link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      <% end %>
      <%= simple_format(message.content) %>
    </li>
  <% end %>
  <%= paginate @messages %>
</ul>

<script>
$(function() {
  setTimeout(
    function() { $('#notice').fadeOut("slow"); },
    2000);
});
</script>
