// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#id_search_form {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 13%;
}
