<!DOCTYPE html>
<html>
<head>
  <title>Messenger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav">
            <% if user_signed_in? %>
              <li><%= link_to current_user.username, messages_path %></li>
            <% end %>
            <li><%= link_to "Messages", messages_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path, :method => 'delete' %></li>
              <li><%= link_to "Setting", edit_user_registration_path %></li>
              <li>
                <%= form_tag({:controller => 'messages', :action => 'index'}, {:method => :get, :id => :id_search_form}) do %>
                  <%= search_field_tag :keyword, @keyword %>
                <% end %>
              </li>
            <% else %>
              <li><%= link_to "SignIn", new_user_session_path %></li>
              <li><%= link_to "SignUp", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
